:root {
    --framecolor0: #eeeeee;
    --framecolor1: #ffffff;
    --framecolor2: #5e81ac;
    --framecolor3: #2e3440;
}

@font-face {
    font-family: "Zed Sans";
    src:
        local("Zed Sans"),
        url("/public/fonts/ZedSans.ttf") format("truetype");
}

@font-face {
    font-family: "Linux Libertine";
    src:
        local("Linux Libertine"),
        url("/public/fonts/LinuxLibertine.ttf") format("truetype");
}

body {
}

.left-side {
    background-color: var(--framecolor0);
}

.right-side {
    background-color: var(---framecolor1);
}

.ai-commands {
    background-color: var(--framecolor1);
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gutter {
    background-color: var(--framecolor0);
    background-repeat: no-repeat;
    background-position: 50%;
    transition: background-color 0.3s ease;
}

.gutter.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: col-resize;
}

.gutter:hover {
    background-color: #eeeeee;
}
